body {
background-image: url("https://wallpaperaccess.com/full/45056.jpg");
  background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: black;
}

@font-face {
   font-family: Terminus;
   src: url("/fonts/terminusbold.ttf");
}

a, a:hover, a:visited{
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
  -webkit-tap-highlight-color: white;
}

h1 {
  margin-left:auto;
  margin-right:auto;
  margin-top: 8px;
  text-align: center;
  font-family: Terminus;
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}


.gif-sunglas {
 width: 80px;
 height: 58px;
 image-rendering: pixelated;
}

.buton {
 width: 88px;
 height: 31px;
 image-rendering: pixelated;
}

.heading {
 color: white;
 font-family: Terminus;
 font-size: 25px;
}

#menu {
  font-family: "Handjet", cursive;
  margin-top: 160px;
  margin-left: 75%;
  width: 176px;
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  float: left;
  border-style: outset;
  border-color: pink;
  background-color: pink;
}

#menuopt {
  padding-top: 70px;
}

#buttony {
  margin-top: 5px;
  margin-left: 14%;
  width: 176px;
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  float: left;  
  border-style: outset;
  border-color: pink;
}

#header {
 display: flex;
 justify-content: center;
 align-items: center;
 clear: both;
 border-style: outset;
 border-color: pink;
 background-color: pink; 
 margin-right: 20%;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 margin-left: 20%;
}

#body {
border-style: outset;
border-color:rgba(255, 192, 203);
margin-right: 20%;
margin-top: 25px;
margin-left: 20%;
min-height: 800px;
background:rgba(255, 192, 203,0.5);
clear: both;

}

.smieszne {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}



.myButton {
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
.myButton:hover {
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color:#634b30;
border:1px solid #54381e;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton1 {
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
.myButton1:hover {
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color:#634b30;
border:1px solid #54381e;
}
.myButton1:active {
	position:relative;
	top:1px;
}
